@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    body{
        all:unset;
        box-sizing: border-box;
        
    }


    p,h1,h2,h3,h4,h5{
        cursor: pointer;
    }
    .small_words{
        overflow: hidden;
    }

    .small_words p{
        max-width: 30ch;
        
        text-overflow: ellipsis;
        white-space: nowrap;
        
    }

    
    /* *{
      
        border:1px solid blue;
        
    } */
 /* #main_body{
        
        background-image: url("/background.jpg");
        
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }  */

    .grad_circle{
        background: linear-gradient(180deg, #FFBB54 0%, rgba(255, 187, 84, 0.00) 100%);

    }

    /* .unset{
        all:unset;
        font-size: 500px;
    } */
}